#create h1 {
    margin: 30px;
    font-weight: 500;
    font-size: clamp(1.5rem, 3.5vw, 5rem);
}

#create .form-elements {
    display: flex;
    flex-flow: column nowrap;
}

#create .btn {
    width: 10vw;
    margin-top: 30px;
}

#create label {
    margin-top: 20px;
    color: white;
}

#create a {
    color: black;
}